hostname r1.622
username root
 group root-lr
 group cisco-support
 secret 5 $1$O/v6$GlstntFNStufnvG35O7TL1
!
username cisco
 group root-lr
 group cisco-support
 secret 5 $1$T.cq$Uj0XGdP4Kv1LmXo/KT1Fm/
!
call-home
 service active
 contact smart-licensing
 profile CiscoTAC-1
  active
  destination transport-method http
 !
!
interface Loopback0
 ipv4 address 10.0.0.1 255.255.255.255
 ipv6 address 10::1/128
!
interface Loopback1
 ipv4 address 10.11.0.1 255.255.255.255
 ipv6 address 10:11::1/128
!
interface Loopback2
 ipv4 address 10.10.0.1 255.255.255.255
!
interface MgmtEth0/RP0/CPU0/0
 ipv4 address 10.251.251.101 255.255.255.0
!
interface GigabitEthernet0/0/0/0
 description to r0
 ipv4 address 10.1.1.1 255.255.255.254
 ipv6 address 10:1:1::1/127
 ipv6 enable
!
interface GigabitEthernet0/0/0/1
 description to ExtPeer R71
 ipv4 address 2.2.71.0 255.255.255.254
 ipv6 address 2:2:71::/127
 ipv6 enable
!
interface GigabitEthernet0/0/0/2
 description to ExtPeer R72
 ipv4 address 2.2.72.0 255.255.255.254
 ipv6 address 2:2:72::/127
 ipv6 enable
!
interface GigabitEthernet0/0/0/3
 description to r12
 ipv4 address 10.1.1.35 255.255.255.254
 ipv6 address 10:1:1::35/127
!
interface GigabitEthernet0/0/0/4
 description to r11
 ipv4 address 10.1.1.23 255.255.255.254
 ipv6 address 10:1:1::23/127
!
interface GigabitEthernet0/0/0/5
 description to r5 RR
 ipv4 address 10.1.1.5 255.255.255.254
 ipv6 address 10:1:1::5/127
!
interface GigabitEthernet0/0/0/6
 shutdown
!
interface GigabitEthernet0/0/0/7
 shutdown
!         
prefix-set ipv4_out
  10.0.250.0/24,
  10.0.129.0/24,
  10.0.130.0/24,
  10.0.131.0/24,
  10.0.132.0/24,
  10.0.133.0/24,
  10.0.134.0/24
end-set
!
prefix-set ipv6_out
  10:beef:250::/119,
  10:beef:129::/119,
  10:beef:130::/119,
  10:beef:131::/119,
  10:beef:132::/119,
  10:beef:133::/119,
  10:beef:134::/119
end-set
!
route-policy SID($SID)
  set label-index $SID
end-policy
!
route-policy drop
  drop
end-policy
!
route-policy pass
  pass
end-policy
!
route-policy ipv4_out
  if destination in ipv4_out then
    pass
  else
    drop  
  endif
end-policy
!
route-policy ipv6_out
  if destination in ipv6_out then
    pass
  else
    drop
  endif
end-policy
!
router isis 100
 is-type level-2-only
 net 49.0901.0000.0000.0001.00
 distribute link-state level 2
 nsf ietf
 address-family ipv4 unicast
  metric-style wide
  advertise link attributes
  mpls traffic-eng level-2-only
  mpls traffic-eng router-id Loopback0
  maximum-paths 32
  segment-routing mpls
 !
 address-family ipv6 unicast
  metric-style wide
  advertise link attributes
  maximum-paths 32
 !
 interface Loopback0
  passive
  address-family ipv4 unicast
   prefix-sid absolute 100001
  !
  address-family ipv6 unicast
  !
 !        
 interface Loopback1
  address-family ipv4 unicast
   prefix-sid absolute 110001 n-flag-clear
  !
  address-family ipv6 unicast
  !
 !
 interface GigabitEthernet0/0/0/0
  circuit-type level-2-only
  point-to-point
  address-family ipv4 unicast
   fast-reroute per-prefix level 2
   fast-reroute per-prefix ti-lfa
   fast-reroute per-prefix ti-lfa level 2
   metric 1
  !
  address-family ipv6 unicast
   fast-reroute per-prefix level 2
   fast-reroute per-prefix ti-lfa
   fast-reroute per-prefix ti-lfa level 2
   metric 1
  !
 !
 interface GigabitEthernet0/0/0/3
  circuit-type level-2-only
  point-to-point
  address-family ipv4 unicast
   fast-reroute per-prefix level 2
   fast-reroute per-prefix ti-lfa
   fast-reroute per-prefix ti-lfa level 2
   metric 1
  !
  address-family ipv6 unicast
   fast-reroute per-prefix level 2
   fast-reroute per-prefix ti-lfa
   fast-reroute per-prefix ti-lfa level 2
   metric 1
  !
 !
 interface GigabitEthernet0/0/0/4
  circuit-type level-2-only
  point-to-point
  address-family ipv4 unicast
   fast-reroute per-prefix level 2
   fast-reroute per-prefix ti-lfa
   fast-reroute per-prefix ti-lfa level 2
   metric 1
  !
  address-family ipv6 unicast
   fast-reroute per-prefix level 2
   fast-reroute per-prefix ti-lfa
   fast-reroute per-prefix ti-lfa level 2
   metric 1
  !
 !
 interface GigabitEthernet0/0/0/5
  circuit-type level-2-only
  point-to-point
  address-family ipv4 unicast
   fast-reroute per-prefix level 2
   fast-reroute per-prefix ti-lfa
   fast-reroute per-prefix ti-lfa level 2
   metric 1
  !
  address-family ipv6 unicast
   fast-reroute per-prefix level 2
   fast-reroute per-prefix ti-lfa
   fast-reroute per-prefix ti-lfa level 2
   metric 1
  !
 !
!
router bgp 100000
 bgp router-id 10.0.0.1
 bgp bestpath as-path multipath-relax
 address-family ipv4 unicast
  additional-paths receive
  additional-paths send
  maximum-paths ebgp 32
  network 10.0.0.1/32 route-policy SID(1)
  network 10.10.0.1/32 route-policy SID(10001)
  network 10.11.0.1/32 route-policy SID(10001)
  allocate-label all
 !
 address-family ipv6 unicast
  additional-paths receive
  additional-paths send
  maximum-paths ebgp 32
  network 10::1/128
  network 10:11::1/128
 !
 address-family link-state link-state
 !
 address-family ipv4 sr-policy
 !
 neighbor-group ASN100000_clients
  remote-as 100000
  update-source Loopback0
  address-family ipv4 unicast
   route-reflector-client
   next-hop-self
  !
  address-family ipv4 labeled-unicast
   route-reflector-client
   next-hop-self
  !
  address-family ipv6 unicast
   route-reflector-client
   next-hop-self
  !
  address-family link-state link-state
   route-policy pass in
   route-policy drop out
  !
  address-family ipv4 sr-policy
  !
 !
 neighbor 10.0.0.0
  remote-as 100000
  shutdown
  description r0
  update-source Loopback0
  address-family ipv4 unicast
   next-hop-self
  !
  address-family ipv4 labeled-unicast
   next-hop-self
  !
  address-family ipv6 unicast
   next-hop-self
  !
  address-family link-state link-state
   next-hop-self
  !
 !
 neighbor 10.0.0.2
  remote-as 100000
  shutdown
  description r2
  update-source Loopback0
  address-family ipv4 unicast
   next-hop-self
  !
  address-family ipv4 labeled-unicast
   next-hop-self
  !
  address-family ipv6 unicast
   next-hop-self
  !
  address-family link-state link-state
   next-hop-self
  !
 !
 neighbor 10.0.0.5
  remote-as 100000
  description r5 RR
  update-source Loopback0
  address-family ipv4 unicast
   next-hop-self
  !
  address-family ipv4 labeled-unicast
  !
  address-family ipv6 unicast
   next-hop-self
  !
  address-family link-state link-state
   route-policy pass out
  !
  address-family ipv4 sr-policy
  !
 !
 neighbor 2.2.71.1
  remote-as 7100
  egress-engineering
  bmp-activate server 1
  address-family ipv4 unicast
   route-policy pass in
   route-policy ipv4_out out
  !
  address-family ipv6 unicast
   route-policy pass in
   route-policy ipv6_out out
  !
 !
 neighbor 2.2.72.1
  remote-as 7200
  egress-engineering
  bmp-activate server 1
  address-family ipv4 unicast
   route-policy pass in
   route-policy ipv4_out out
  !
  address-family ipv6 unicast
   route-policy pass in
   route-policy ipv6_out out
  !
 !
!
bmp server 1
 host 10.0.250.2 port 5000
 description voltron OpenBMP
 update-source Loopback0
 flapping-delay 60
 initial-delay 5
 stats-reporting-period 60
 initial-refresh delay 30 spread 2
!
segment-routing
 global-block 100000 163999
!
grpc
 port 57400
!
telemetry model-driven
 sensor-group fib
  sensor-path Cisco-IOS-XR-fib-common-oper:fib-statistics/nodes/node/drops
  sensor-path Cisco-IOS-XR-fib-common-oper:fib/nodes/node/protocols/protocol/vrfs/vrf/ip-prefix-details/ip-prefix-detail
 !
 sensor-group bgp-rib
  sensor-path Cisco-IOS-XR-ip-rib-ipv4-oper:rib/vrfs/vrf/afs/af/safs/saf/ip-rib-route-table-names/ip-rib-route-table-name/protocol/bgp/as/information
  sensor-path Cisco-IOS-XR-ip-rib-ipv4-oper:rib/vrfs/vrf/afs/af/safs/saf/ip-rib-route-table-names/ip-rib-route-table-name/protocol/connected/non-as/information
 !        
 sensor-group cpu-mem
  sensor-path Cisco-IOS-XR-wdsysmon-fd-oper:system-monitoring/cpu-utilization
  sensor-path Cisco-IOS-XR-nto-misc-oper:memory-summary/nodes/node/summary
 !
 sensor-group topology
  sensor-path openconfig-bgp:bgp/neighbors
  sensor-path openconfig-bgp:bgp/global/state/router-id
  sensor-path openconfig-interfaces:interfaces/interface/subinterfaces/subinterface/ipv4/addresses/address/ip
  sensor-path openconfig-interfaces:interfaces/interface/subinterfaces/subinterface/ipv4/neighbors/neighbor/ip
 !
 sensor-group interfaces
  sensor-path Cisco-IOS-XR-pfi-im-cmd-oper:interfaces/interface-briefs/interface-brief
 !
 sensor-group link-stats
  sensor-path Cisco-IOS-XR-ethernet-lldp-oper:lldp/nodes/node/statistics
  sensor-path Cisco-IOS-XR-infra-statsd-oper:infra-statistics/interfaces/interface/latest/data-rate
  sensor-path Cisco-IOS-XR-infra-statsd-oper:infra-statistics/interfaces/interface/latest/generic-counters
  sensor-path Cisco-IOS-XR-infra-statsd-oper:infra-statistics/interfaces/interface/latest/protocols/protocol
 !
 sensor-group isis-routes
  sensor-path Cisco-IOS-XR-clns-isis-oper:isis/instances/instance/topologies/topology/ipv4-routes/ipv4-route
  sensor-path Cisco-IOS-XR-clns-isis-oper:isis/instances/instance/topologies/topology/ipv6-routes/ipv6-route
 !
 sensor-group link-oper-stats
  sensor-path Cisco-IOS-XR-pfi-im-cmd-oper:interfaces/interface-xr/interface
 !
 subscription base_metrics
  sensor-group-id fib sample-interval 300000
  sensor-group-id bgp-rib sample-interval 300000
  sensor-group-id cpu-mem sample-interval 5000
  sensor-group-id topology sample-interval 300000
  sensor-group-id interfaces sample-interval 300000
  sensor-group-id link-stats sample-interval 5000
  sensor-group-id isis-routes sample-interval 300000
  sensor-group-id link-oper-stats sample-interval 5000
 !
!         
netconf agent tty
!
netconf-yang agent
 ssh
!
ssh server v2
ssh server vrf default
ssh server netconf vrf default
ssh server rate-limit 600
ssh server session-limit 100
end

