hostname R03
clock timezone PST America/Los_Angeles
username cisco
 group root-lr
 group cisco-support
 secret 10 $6$nDxwa1HDjtnPCa1.$VTHjKAlydJwG1.AMeWqRJtwIggXgzTRYJKikU3uuT.ISktzdfNckyefNhEdE0y2JfeOtco5ndfSEjg/sI3izz.
!
grpc           // optional
 port 57400
 no-tls
!
telemetry model-driven
 destination-group jalapeno
  address-family ipv4 10.0.253.1 port 32400
   encoding self-describing-gpb
   protocol grpc no-tls
  !
 !
 sensor-group cisco_models
  sensor-path Cisco-IOS-XR-pfi-im-cmd-oper:interfaces/interface-xr/interface
 !
 sensor-group openconfig_interfaces
  sensor-path openconfig-interfaces:interfaces/interface
 !
 subscription base_metrics
  sensor-group-id cisco_models sample-interval 10000
  sensor-group-id openconfig_interfaces sample-interval 10000
  destination-id jalapeno
 !
!
vrf green
 address-family ipv4 unicast
  import route-target
   600:600
  !
  export route-target
   600:600
  !
 !
!
tpa           // optional
 vrf default
  address-family ipv4
   update-source dataports Loopback0
  !
 !
!
call-home            // default
 service active
 contact smart-licensing
 profile CiscoTAC-1
  active
  destination transport-method http
 !
!
netconf-yang agent            // optional
 ssh
!
interface Loopback0
 description router lo0 
 ipv4 address 10.0.0.3 255.255.255.255
 ipv6 address 2001:1:1:f003::1/128
!
interface Loopback600
 vrf green
 ipv4 address 172.16.3.1 255.255.255.0
!
interface MgmtEth0/RP0/CPU0/0
 description mgt 
 ipv4 address dhcp
 no shutdown
!
interface GigabitEthernet0/0/0/0
 description to r1 
 ipv4 address 10.1.1.9 255.255.255.254
 ipv6 address 10:1:1::9/127
 no shutdown
!
interface GigabitEthernet0/0/0/1
 description to r0
 ipv4 address 10.1.1.5 255.255.255.254
 ipv6 address 10:1:1::5/127
 no shutdown
!
interface GigabitEthernet0/0/0/2
 description to r2
 ipv4 address 10.1.1.11 255.255.255.254
 ipv6 address 10:1:1::11/127
 no shutdown
!
interface GigabitEthernet0/0/0/3
 description to Jalapeno K8s cluster
 ipv4 address 10.0.253.2 255.255.255.0
 no shutdown
!
route-policy SID($SID)
  set label-index $SID
end-policy
!
route-policy drop
  drop
end-policy
!
route-policy pass
  pass
end-policy
!
router isis 100
 is-type level-2-only
 net 49.0901.0000.0000.0003.00
 distribute link-state level 2
 nsf ietf
 address-family ipv4 unicast
  metric-style wide
  advertise link attributes
  mpls traffic-eng level-2-only
  mpls traffic-eng router-id Loopback0
  maximum-paths 32
  segment-routing mpls
 !
 address-family ipv6 unicast
  metric-style wide
  advertise link attributes
  maximum-paths 32
  segment-routing srv6
   locator MAIN
   !
  !
 !
 interface Loopback0
  passive
  address-family ipv4 unicast
   prefix-sid absolute 100003
  !
  address-family ipv6 unicast
  !
 !
 interface GigabitEthernet0/0/0/0
  circuit-type level-2-only
  point-to-point
  address-family ipv4 unicast
   fast-reroute per-prefix level 2
   fast-reroute per-prefix ti-lfa
   fast-reroute per-prefix ti-lfa level 2
   metric 1
  !
  address-family ipv6 unicast
   fast-reroute per-prefix level 2
   fast-reroute per-prefix ti-lfa
   fast-reroute per-prefix ti-lfa level 2
   metric 1
  !
 !
 interface GigabitEthernet0/0/0/1
  circuit-type level-2-only
  point-to-point
  address-family ipv4 unicast
   fast-reroute per-prefix level 2
   fast-reroute per-prefix ti-lfa
   fast-reroute per-prefix ti-lfa level 2
   metric 1
  !
  address-family ipv6 unicast
   fast-reroute per-prefix level 2
   fast-reroute per-prefix ti-lfa
   fast-reroute per-prefix ti-lfa level 2
   metric 1
  !       
 !
 interface GigabitEthernet0/0/0/2
  circuit-type level-2-only
  point-to-point
  address-family ipv4 unicast
   fast-reroute per-prefix level 2
   fast-reroute per-prefix ti-lfa
   fast-reroute per-prefix ti-lfa level 2
   metric 1
  !
  address-family ipv6 unicast
   fast-reroute per-prefix level 2
   fast-reroute per-prefix ti-lfa
   fast-reroute per-prefix ti-lfa level 2
   metric 1
  !
 !
!
router bgp 100000
 bgp router-id 10.0.0.3
 bgp bestpath as-path multipath-relax
 address-family ipv4 unicast
  additional-paths receive
  additional-paths send
  maximum-paths ebgp 32
  network 10.0.0.3/32 route-policy SID(3)
  allocate-label all
 !
 address-family vpnv4 unicast
 !
 address-family ipv6 unicast
  additional-paths receive
  additional-paths send
  maximum-paths ebgp 32
  network 2001:1:1:f003::1/128
 !
 address-family link-state link-state
 !
 address-family ipv4 sr-policy            // optional
 !
 neighbor 10.0.0.1
  remote-as 100000
  update-source Loopback0
  address-family ipv4 unicast
   next-hop-self
  !
  address-family ipv4 labeled-unicast
   next-hop-self
  !
  address-family link-state link-state
   route-policy drop in
   route-policy pass out
  !
  address-family ipv4 sr-policy           // optional
  !
 !
 neighbor 2001:1:1:f001::1
  remote-as 100000
  update-source Loopback0
  address-family vpnv4 unicast
   next-hop-self
  !
  address-family ipv6 unicast
   next-hop-self
  !       
 !
 vrf green
  rd 600:600
  address-family ipv4 unicast
   segment-routing srv6
    locator MAIN
    alloc mode per-vrf
   !
   redistribute connected
  !
 !
bmp server 1
 host 10.0.253.1 port 30555
 description jalapeno OpenBMP 
 update-source Loopback0
 flapping-delay 60
 initial-delay 5
 stats-reporting-period 60
 initial-refresh delay 30 spread 2
!
segment-routing
 global-block 100000 163999
 srv6
  encapsulation
   source-address 2001:1:1:f003::1
  !
  locators
   locator MAIN
    prefix 2001:1:1:f003::/64
   !
  !
 !
!
netconf agent tty           // optional
!
ssh server rate-limit 600
ssh server session-limit 100
ssh server v2
ssh server vrf default
ssh server netconf vrf default
