# Template used to create this container: /usr/share/lxc/templates/lxc-ubuntu
# Parameters passed to the template:
# Template script checksum (SHA-1): 865a6e4050da6a45575473b0a71f84ced41604fe
# For additional config options, please look at lxc.container.conf(5)

# Uncomment the following line to support nesting containers:
#lxc.include = /usr/share/lxc/config/nesting.conf
# (Be aware this has security implications)


# Common configuration
lxc.include = /usr/share/lxc/config/ubuntu.common.conf
lxc.arch = x86_64

# Container specific configuration
# Network configuration
lxc.network.type = veth
lxc.network.link = lxcbr0
lxc.network.flags = up
lxc.network.hwaddr = 00:16:3e:f1:f0:51
lxc.network.ipv4.address = 10.0.130.2/24 255.255.255.0
lxc.network.ipv4.gateway = 10.0.130.1
lxc.network.veth.pair = client-eth0

lxc.rootfs = /var/lib/lxc/vlt_client/rootfs
lxc.rootfs.backend = dir
lxc.utsname = vlt_client

